@font-face {
    font-family: "FranklinGothicITCW05-Book";
    src: url("FranklinGothicITCW05-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EKA-Absolution-Regular";
    src: url("EKA-Absolution-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Random";
    src: url("Random-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GerstnerProgramm-Regular";
    src: url("GerstnerProgramm-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Osmose-Regular";
    src: url("Osmose-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Osmose-Light";
    src: url("Osmose-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
