

# =============== #
# Unity generated #
# =============== #
*[Tt]emp/
*[Uu]nityGenerated/
*[Ll]ibrary/
!*glitchlibrary/
!*ExcelLibrary/
*[Bb]uilds/
*[Bb]uild/
*[Bb]in/
*[Tt]empBuild/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.log
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
# Builds	   #
# ============ #
#*.apk
#*.exe
#*.app
#*.ipa

# ============ #
# Houdini	   #
# ============ #

tests/VRTest/
design/
media/

