/*@import url('https://cdn.staticaly.com/gh/jonasjohansson/template/master/reset.css');*/
@import url('type/type.css');

:root {
	--base: 28px;
	--font-size: 14px;
	--font-family: 'Osmose-Light';
}

html {
	/*font-family: var(--font-family);*/
	/*font-family: system-ui;*/
	/*font-size: var(--font-size);*/
	line-height: 1.5;
	/*background-color: black;*/
	/*color: white;*/
	/*background-color: #f0f0f0;*/
	/*color: #0a0a0a;*/
	transition: opacity 400ms ease-in-out;
	will-change: opacity;
	opacity: 1;
}

html.loading {
	opacity: 0;
}

h1 {
	font-size: 2.2rem;
	/*font-family: "EKA-Absolution-Regular";*/
	text-align: center;
}

h2 {
	/*font-size: var(--font-size);*/
	text-transform: uppercase;
}

p {
	margin-bottom: var(--base);
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

video {
	float: left;
	width: 50%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

video:first-of-type {
	padding-right: 0.25rem;
}

video:last-of-type {
	padding-left: 0.25rem;
}

hr {
	clear: both;
}

button {
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px;
	background-color: white;
	color: black;
}

/* */

body {
	padding: 0 4vw;
}

#intro {
	/*height: 100vh;*/
	/*background-image: url(https://tinymassive.io/assets/harpa.jpg);
	background-size: cover;
	background-position: center center;*/
}

.filter {
	margin-bottom: var(--base);
	font-style: italic;
}

.filter div {
	display: inline-block;
}

.filter div:not(:last-child) {
	margin-right: var(--base);
}

/*.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 52vw;
}
*/
.entry {
	display: block;
}

.entry:not(:first-child) {
	border-top: 1px solid #ccc;
	padding-top: var(--base);
	margin-bottom: var(--base);
}

.entry > * {
	/*display: inline-block;*/
}

.time {
	margin-right: var(--base);
}

.days {
	clear: both;
	float: right;
}

.day {
	border-radius: 25%;
	display: block;
	float: left;
	padding: 2px 4px;
	font-size: 10px;
	text-transform: capitalize;
	font-family: sans-serif;
	background-color: blue;
	color: white;
}

.day:not(:last-child) {
	margin-right: 4px;
}

footer img {
	height: calc(var(--base) * 2);
}

footer a:not(:last-child) {
	margin-right: var(--base);
}

@media (max-width: 899px) {
	:root {
		--base: 14px;
	}
	/*h1 {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}*/
}

@media (min-width: 900px) {
	h1 {
		text-align: left;
	}
	article#all {
		float: right;
	}
}
