@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

:root {
	--grad-start: rgba(0, 0, 25, 0.94);
	--grad-end: rgba(255, 255, 255, 0.05);
}
html {
	font-family: 'Titillium Web', system-ui;
	line-height: 1.3;
	background: var(--grad-start) linear-gradient(var(--grad-start), var(--grad-end));
	color: rgba(255, 255, 255, 0.9);
}
video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
