:root {
	--base: 16px;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: calc(var(--base) * 2) 0;
	font: 18px/1.666 'Maison Neue Book', system-ui;
	color: rgb(230, 230, 230);
	background-color: rgba(0, 0, 0, 0.9);
}

figure {
	margin-left: 0;
	margin-right: 0;
}

figure img,
figure video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

section,
hr {
	margin: 0 auto;
	padding: 0 var(--base);
	box-sizing: border-box;
	max-width: 80ex;
}

hr {
	opacity: 0.25;
}

a {
	color: inherit;
	/*color: cyan;*/
	/*text-decoration: none;*/
}

h1 span {
	display: none;
}

h2 {
	font-size: 1.2em;
	text-transform: uppercase;
}

h3 {
	font-size: 1em;
}

h4,
h5 {
	font-size: 1em;
}

h5 {
	margin: 0.8em 0;
	font-weight: normal;
}

ul {
	list-style: square;
}

button {
	position: relative;
	padding: 4px;
	top: -2px;
	font-family: inherit;
	cursor: pointer;
	background: none;
	color: inherit;
}

/* entries */

.bio,
.credits {
	font-style: italic;
}

.entry {
	position: relative;
	margin-left: 28px;
}

.toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 2px;
	left: -28px;
}

body:not(#now-playing) .entry:not(.show-info) > p {
	display: none;
}

.filter {
	margin-bottom: var(--base);
	font-style: italic;
}

.filter div {
	display: inline-block;
}

.filter div:not(:last-child) {
	margin-right: var(--base);
}

.entry {
	display: block;
}

.time {
	margin-right: var(--base);
}

.name,
.bio {
	font-style: italic;
	opacity: 0.7;
}

.days {
	clear: both;
	float: right;
}

.day {
	border-radius: 25%;
	display: block;
	float: left;
	padding: 2px 4px;
	font-size: 10px;
	text-transform: capitalize;
	font-family: sans-serif;
	background-color: blue;
	color: white;
}

.day:not(:last-child) {
	margin-right: 4px;
}

/* now playing */

#now-playing {
	scroll-snap-type: y mandatory;
	scroll-padding: calc(var(--base) * 6);
}

#now-playing section:first-child {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	max-width: 100vw;
	z-index: 1;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
}

#now-playing .entry {
	min-height: 100vh;
	scroll-snap-align: start;
	margin-left: 0;
}

#now-playing h1 {
	text-align: center;
}
#now-playing h5 {
	text-align: center;
}

#now-playing .name {
	display: block;
}

/* sponsors */

.sponsors {
	margin: 0;
}

.sponsors a {
	display: inline;
}

.sponsors a:not(:last-child) {
	margin-right: calc(var(--base) * 1.5);
}

@font-face {
	font-family: 'Maison Neue Book';
	src: url('MaisonNeue-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
